body,
* {
  margin: 0;
  padding: 0;
}

#mapcontent,
#map {
  height: 100vh;
  width: 100vw;
}

.leaflet-tooltip {
  padding: 0;
  border: 0;
  background-color: transparent;
  box-shadow: none;
  text-shadow: 1px 1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF,
    -1px -1px 0 #FFF, 1px 0px 0 #FFF, 0px 1px 0 #FFF,
    -1px 0px 0 #FFF, 0px -1px 0 #FFF;
}
.leaflet-tooltip-bottom::before {
  border: 0;
}

.buildingstooltip {
  /* background: green; */
  font-size: 2em;

  text-shadow: 2px 2px 0 #FFF, 2px -2px 0 #FFF, -2px 2px 0 #FFF,
    -2px -2px 0 #FFF, 2px 0px 0 #FFF, 0px 2px 0 #FFF,
    -2px 0px 0 #FFF, 0px -2px 0 #FFF;
}

.buildingstooltip.b12 {
  padding: 0 80px 80px 0;
}

.buildingstooltip.b16b {
  padding: 30px 0 0 30px;
}

.buildingstooltip.b18,
.buildingstooltip.b25f {
  padding: 60px 0 0 0;
}

.buildingstooltip.b25d {
  padding: 50px 0 0 50px;
}

.buildingstooltip.bFrontdesk {
  padding: 0 0 50px 0;
}

.legend {
  position: absolute;
  top: 0.5em;
  left: 2em;
  width: 20vw;
  max-width: 300px;
  min-width: 3cm;
  z-index: 100;
}
