body, * {
margin: 0;
padding: 0;
}

#mapcontent, #map {
  height: 100vh;
  width: 100vw;
 }

.leaflet-tooltip {
  padding: 0;
  border: 0;
  background-color: transparent;
  box-shadow: none;
}
.leaflet-tooltip-bottom::before {
  border: 0;
}

.buildingstooltip {
  /* background: green; */
  font-size: 2em;
}

.buildingstooltip.b12 {
  padding: 0 80px 80px 0;
}

.buildingstooltip.b16b {
  padding: 30px 0 0 30px;
}

.buildingstooltip.b18, .buildingstooltip.b25f {
  padding: 60px 0 0 0;
}

.buildingstooltip.b25d {
  padding: 50px 0 0 50px;
}

.buildingstooltip.bFrontdesk {
  padding: 0 0 50px 0;
}

.legend {
  position: absolute;
  top:2em;
  left:4em;
  width: 20vw;
  z-index: 100;
}